@import "../../variaveis.scss";

.cursos {
  box-sizing: content-box;
  margin-top: 8rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .containerResultato{
    width: 80%;
    .totalResultados{
      align-self: flex-start;
      margin-left: 0rem;
      margin: 1rem 0rem;
    }
  }
  .container-btt {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    h1 {
      font-family: $font-family;
      color: $ff-color-terciaria;
      font-size: 2rem;
      font-weight: 600;
      line-height: 1rem;
      letter-spacing: 0em;
      align-self: center;
      margin: 1.5rem;
    }
  }
  .navLink {
    width: 80%;

    display: flex;
    gap: 2rem;

    a {
      color: $ff-color;
      margin-top: 1rem;
      font-size: 1.1rem;
      justify-self: flex-start;
    }
  }
  .containerCursos {
    width: 80%;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .paginacao {
    margin: 20px auto;
  }

  .paginacao .page-item.active .page-link {
    background-color: $cor-primaria;
    border-color: $cor-primaria;
    color: $ff-color-secondaria;
    justify-self: flex-end;
  }
}

@media (min-width: 320px) {
  .cursos {
    height: auto;
    .container-btt {
      width: 80%;
      h1 {
        font-size: 1.2rem;
        letter-spacing: 0em;
        margin: 1.5rem;
      }
    }
    .navLink {
      box-sizing: content-box;
      width: 80%;
      display: flex;
      gap: 0.8rem;

      a {
        color: $ff-color;
        margin-top: 1rem;
        font-size: 0.8rem;
      }
    }
    .containerCursos {
      width: 80%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 1rem;
    }
  }
}

@media (min-width: 585px) {
  .cursos {
    height: auto;
    .container-btt {
      h1 {
        font-family: $font-family;
        color: $ff-color-terciaria;
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 1rem;
        letter-spacing: 0em;
        align-self: center;
        margin: 1.5rem;
      }
    }
    .navLink {
      box-sizing: content-box;
      width: 80%;
      display: flex;
      gap: 1rem;

      a {
        font-size: 1em;
      }
    }
    .containerCursos {
      width: 80%;

      display: flex;
      justify-content: space-between;

      flex-wrap: wrap;
      gap: 2rem;
    }
  }
}

@media (min-width: 1280px) {
  .cursos {
    box-sizing: content-box;
    margin-top: 8rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    .container-btt {
      width: 80%;
      display: flex;
      flex-direction: column;
      h1 {
        font-family: $font-family;
        color: $ff-color-terciaria;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1rem;
        letter-spacing: 0em;
        align-self: center;
        margin: 1.5rem;
      }
    }
    .navLink {
      width: 80%;
      display: flex;
      gap: 2rem;

      a {
        color: $ff-color;
        margin-top: 1rem;
        font-size: 1.4rem;
      }
    }
    .containerCursos {
      width: 80%;

      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 1rem;
      
    }
    .paginacao {
      margin: 20px auto;
    }

    .paginacao .page-item.active .page-link {
      background-color: $cor-primaria;
      border-color: $cor-primaria;
      color: $ff-color-secondaria;
      justify-self: flex-end;
    }
  }
}
