@import "../../variaveis.scss";

.parceirosPage {
  box-sizing: content-box;
  margin-top: 8rem;
  height: 100vh;
  width: 100vw;
  display: flex;

  .containerParceiros {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .containerResultato{
      width: 70%;
      .totalResultados{
        align-self: flex-start;
        margin-left: 1.5rem;
      }
    }
    .container-btt {
      width: 70%;
      h1 {
        font-family: $font-family;
        color: $ff-color-terciaria;
        font-size: 2rem;
        font-weight: 600;
        line-height: 1rem;
        letter-spacing: 0em;
        align-self: center;
        margin: 1.5rem;
      }
    }

    .containerParceirosConteudo {
      width: 70%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      // justify-content: center;
      align-items: center;
      gap: 2rem;
    }
  }
  .paginacao {
    margin: 20px auto;
  }
  .paginacao .page-item.active .page-link {
    width: 50%;
    background-color: $cor-primaria;
    border-color: $cor-primaria;
    color: $ff-color-secondaria;
    justify-self: flex-end;
  }
}

@media (min-width: 320px){
  .parceirosPage {
    height: auto;
    width: 100vw;
    display: flex;
  
    .containerParceiros {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .containerResultato{
        width: 70%;
        .totalResultados{
          align-self: flex-start;
          margin-left: 1.5rem;
        }
      }
      .container-btt {
        width: 70%;
        h1 {
          font-family: $font-family;
          color: $ff-color-terciaria;
          font-size: 2rem;
          font-weight: 600;
          line-height: 1rem;
          letter-spacing: 0em;
          align-self: center;
          margin: 1.5rem;
        }
      }
  
      .containerParceirosConteudo {
        width: 70%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        // justify-content: center;
        align-items: center;
        gap: 2rem;
      }
    }
    .paginacao {
      margin: 20px auto;
    }
    .paginacao .page-item.active .page-link {
      width: 50%;
      background-color: $cor-primaria;
      border-color: $cor-primaria;
      color: $ff-color-secondaria;
      justify-self: flex-end;
    }
  }
}

@media (min-width: 769px){
  .parceirosPage {
    height: auto;
    width: 100vw;
    display: flex;
    margin-top: 11rem;
  
    .containerParceiros {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .container-btt {
        width: 70%;
        h1 {
          font-size: 2rem;
        }
      }      
    }
    
  }
}
