@import "../../variaveis.scss";

.cardCurso {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: 30rem;

  .infoCurso {
    height: 35%;
    width: 100%;
    border-radius: 10px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }
  }
  .sobre {
    height: 60%;
    // border: 1px solid red;

    h3 {
      font-size: 1rem;
      margin-top: 0.5rem;
    }
    p {
      font-size: 0.5rem;
      margin-top: 0.5rem;

    }
    .containerIfoCurso {
      display: flex;
      img {
        width: 1rem;
        height: 1rem;
        margin-right: 0.3rem;
      }
      small {
        margin-right: 0.9rem;

      }
    }
    .texto {
      text-align: justify;
      font-size: 1rem;
      margin-bottom: 0;
    }
  }
  a {
    font-size: 1rem;
    align-self: end;
  }
}

@media (min-width: 320px) {
  .cardCurso {
    // margin-top: 1rem;
    display: flex;
    width: 11rem;
    height: 20rem;
  
    .infoCurso {
      height: 35%;
      width: 100%;
      border-radius: 10px;
      img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
      }
    }
    .sobre {
      // height: 60%;
  
      h3 {
        font-size: 0.8rem;
        margin-top: 0.3rem;
        text-align: start;
      }
      p {
        font-size: 0.5rem;
        margin-bottom: 0.4rem;
      }
      .containerIfoCurso {
        display: flex;
        img {
          width: 0.9rem;
          height: 1rem;
          margin-right: 0.3rem;
        }
        small {
          margin-right: 0.5rem;
  
        }
      }
      .texto {
        text-align: start;
        font-size: 0.6rem;
        margin-bottom: 0;
      }
    }
    a {
      font-size: 0.8rem;
      align-self: end;
    }
  }
}

@media (min-width: 685px) {
  .cardCurso {
    // margin-top: 1rem;
    display: flex;
    width: 15rem;
    height: 18rem;
    .infoCurso {
      height: 35%;
      width: 100%;
      border-radius: 10px;
      img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
      }
    }
    .sobre {
      // height: 60%;
  
      h3 {
        font-size: 0.8rem;
        margin-top: 0.3rem;
        text-align: start;
      }
      p {
        font-size: 0.5rem;
        margin-bottom: 0.4rem;
      }
      .containerIfoCurso {
        display: flex;
        img {
          width: 0.9rem;
          height: 1rem;
          margin-right: 0.3rem;
        }
        small {
          margin-right: 0.5rem;
  
        }
      }
      .texto {
        text-align: start;
        font-size: 0.6rem;
        margin-bottom: 0;
      }
    }
    a {
      font-size: 0.8rem;
      align-self: end;
    }
  }
}
@media (min-width: 1280px) {
  .cardCurso {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    width: 33rem;
    height: 30rem;

    .infoCurso {
      height: 40%;
      width: 100%;
      border-radius: 10px;
      img {
        width: 100%;
      }
    }
    .sobre {
      height: 60%;
  
      h3 {
        font-size: 1.2rem;
        margin-top: 0.6rem;
      }
      p {
        font-size: 0.7rem;
        margin-top: 0.8rem;
        margin-bottom: 0.8rem;
  
      }
      .containerIfoCurso {
        display: flex;
        img {
          width: 1rem;
          height: 1rem;
          margin-right: 0.3rem;
        }
        small {
          margin-right: 1rem;
  
        }
      }
      .texto {
        text-align: justify;
        font-size: 1.2rem;
        margin-bottom: 0;
      }
    }
    a {
      font-size: 1.2rem;
      align-self: end;
    }
  }
}