
// src/index.js
$cor-primaria: #D2202C;
$cor-secundaria: #323237;
$btt-color:#707070;
$ff-color: rgba(47, 46, 65, 1);
$ff-color-primaria: rgba(112, 112, 112, 1);
$ff-color-secondaria: #ffffff;
$ff-color-terciaria: rgba(210, 32, 44, 1);
$ff-menores-color: rgba(246, 48, 63, 1);
$font-family: 'Montserrat', sans-serif;

:root{
    font-size: 62.5%;
}